header{
	padding:70px 0;
	background: linear-gradient( #0d47a1 0%, #002171 100%);
}

.navbar-default{
	background: linear-gradient( #002171 0%, #0d47a1 100%);
}

.vertical-menu {
  width: 200px;
  padding-top: 73px;
  height: 100%;
  position:fixed;
  background: linear-gradient( #0d47a1 0%, #002171 100%);
}
.logo {
	width: 250px;
}

.img-carousel {
	padding:30px 0;
	width:480px;
	height:350px;
}

.text-area {
	resize: none;
	border: none;
}

.dropdown-item {
	background-color: transparent !important;
}

.dropdown-text {
	resize:none;
	overflow: hidden;
}

.text-botoes {
	padding-left: 100px !important;
}

.linha {
	background-color:white;
	width:2px;
	height:10px;
}

.img-card {
	width:50px;
	height:250px;
}

.conteudo {
	padding: 70px 10px;
}

.nav-link {
	color: white !important;
	font-family: cursive;
}

@media (min-width: 768px){
	.dropdown-menu {
		min-width:500px !important;
	}
}


.vertical-menu a {
  color: white;
  display: block;
  padding: 12px;
  text-decoration: none;
}

.vertical-menu a:hover {
  background-color: #ccc;
}

