body {
	background: url("../img/background.png") !important;
	background-repeat: no-repeat;
}

header{
	padding:70px 0;
}

.navbar-default{
	background: white;
}

.vertical-menu {
  width: 200px;
  background: white;
}
.logo {
	width: 250px;
}

.img-carousel {
	padding:30px 0;
	width:480px;
	height:350px;
}

.img-prom {
	width:70px;
	height:70px;
}

.text-area {
	resize: none;
	border: none;
}

.dropdown-item {
	background-color: transparent !important;
}

.dropdown-text {
	resize:none;
	overflow: hidden;
}

.text-botoes {
	padding-left: 100px !important;
}

.linha {
	background-color:black;
	width:2px;
	height:10px;
}

.img-card {
	width:50px;
	height:250px;
}

.conteudo {
	padding: 70px 10px;
}

.nav-link {
	color: black !important;
	font-family: cursive;
}

@media (min-width: 768px){
	.dropdown-menu {
		min-width:500px !important;
	}
}


.vertical-menu a {
  color: white;
  display: block;
  padding: 12px;
  text-decoration: none;
}

.vertical-menu a:hover {
  background-color: #ccc;
}

