body {
	background: url("../img/background.png") !important;
	background-repeat: no-repeat;
}

header{
	padding:70px 0;
}

.navbar-default{
	background: white;
}

.vertical-menu {
  width: 200px;
  background: white;
}
.logo {
	width: 250px;
}

.img-carousel {
	padding:30px 0;
	width:480px;
	height:350px;
}

.img-prom {
	width:90px;
	height:100px;
	padding-top: 10px;
}

.valor-origin {
	font-size:10px;
	margin-bottom: 0px;
	padding-top: 10px;
}

.valor-promo {
	margin-bottom: 0px;
}

.btn-compra {
	margin-bottom: 5px;
}

.div-info {
	height: auto;
}

.buttons-promo {
	padding-top: 15px;
	height: auto;
}

.buttons-detals {
	padding-bottom: 15px;
}

.valor-parcela {
	font-size: 10px;
	margin-bottom: 0px;
}

.valor-boleto {
	font-size: 15px;
	margin-bottom: 0px;
}

.desc-boleto {
	font-size: 8px;
	margin: 0px;
}

.avaliacao {
	font-size: 10px;
}

.div-promocoes {
	padding-bottom: 20px;
	padding-top: 20px;
	background:white;
}

.title-promo {
	font-size: 15px;
	margin-bottom: 0px;
	padding-top: 10px;
}

.desc-promo {
	font-size:10px;
}

.div-itens {
	height: auto;
}


.text-area {
	resize: none;
	border: none;
}

.dropdown-item {
	background-color: transparent !important;
}

.dropdown-text {
	resize:none;
	overflow: hidden;
}

.title-filtro {
	padding-top: 20px;
}

.text-botoes {
	padding-left: 100px !important;
}

.linha {
	background-color:black;
	width:2px;
	height:10px;
}

.img-card {
	width:50px;
	height:250px;
}

.conteudo {
	padding: 70px 10px;
}

.nav-link {
	color: black !important;
	font-family: cursive;
}

@media (min-width: 768px){
	.dropdown-menu {
		min-width:500px !important;
	}

}

@media only screen and (max-width: 991px){
	.navbar-default {
		margin-top: 50px;
	}
}


.vertical-menu a {
  color: white;
  display: block;
  padding: 12px;
  text-decoration: none;
}

.vertical-menu a:hover {
  background-color: #ccc;
}

