body {
	background: url("../img/background.png") !important;
	background-repeat: no-repeat;
}

header{
	padding:70px 0;
}

.navbar-default{
	background: white;
}

.botao-geraPc {
	margin-top:41px;
}

.H3-Hidden {
	display: none;
}

.monteseuPc{
	background-color: white !important;
	height: auto;
}

.div-pc {
	border:2px solid;
	border-color:lightgrey;
	width:100%;
	border-radius:5px;
}

.img-fundo-proc{
	background: url('../img/ryzen1.png') no-repeat;
	background-position: 250% 10%;
}
.img-fundo-MB{
	background: url('../img/placaMaeAtx1.jpg') no-repeat;
	background-position: 100% 40%;
}
.img-fundo-ram{
	background: url('../img/RamDDR41.jpg') no-repeat;
	background-position: 100% 40%;
}
.img-fundo-pv{
	background: url('../img/Gtx980TI1.jpg') no-repeat;
	background-position: 100% 15%;
}
.img-fundo-hd{
	background: url('../img/HDSeagate1.jpg') no-repeat;
	background-position: 100% 15%;
}
.img-fundo-ssd{
	background: url('../img/SSDcorsair1.jpg') no-repeat;
	background-position: 75% 50%;
}
.img-fundo-font{
	background: url('../img/fonteCorsair1.jpg') no-repeat;
	background-position: 100% 45%;
}
.img-fundo-cpu{
	background: url('../img/gabineteAndromeda1.jpg') no-repeat;
	background-position: 100% 25%;
}
.img-fundo-cooler{
	background: url('../img/CoolerMaster1.jpg') no-repeat;
	background-position: 100% 30%;
}


.header-pc {
	background-color: lightgrey;
	opacity:0.6;
}

.vertical-menu {
  width: 200px;
  background: white;
}
.logo {
	width: 250px;
}

.circle {
  border-radius: 10px;
}

.img-carousel {
	padding:30px 0;
	width:480px;
	height:350px;
	margin-left: 18px;
}

.img-prom {
	width:90px;
	height:100px;
	padding-top: 10px;
}

.produto {
	padding-bottom: 20px;
	padding-top: 20px;
	background:white;
}

.img-produto {
	margin-left: 50px;
	height: 350px;
	width: 400px;
}


.carousel_img_prod {
	height: 65px;
	width: 65px;
}

.desc-prod {
	font-size:15pt;
	color:darkblue;
}

.marca-prod {
	font-size: 40pt;
}

.valor-origin {
	font-size:10px;
	margin-bottom: 0px;
	padding-top: 10px;
}

.valor-promo {
	margin-bottom: 0px;
}

.btn-compra {
	margin-bottom: 5px;
}

.div-info {
	height: auto;
}

.buttons-promo {
	padding-top: 15px;
	height: auto;
}

.buttons-detals {
	padding-bottom: 15px;
}

.filtro {
	padding-top: 20px;
}

.inFilter {
	height: 97%;
}

.valor-parcela {
	font-size: 10px;
	margin-bottom: 0px;
}

.valor-boleto {
	font-size: 15px;
	margin-bottom: 0px;
}

.desc-boleto {
	font-size: 8px;
	margin: 0px;
}

.avaliacao {
	font-size: 10px;
}

.div-promocoes {
	padding-bottom: 20px;
	padding-top: 20px;
	background:white;
}

.title-promo {
	font-size: 15px;
	margin-bottom: 0px;
	padding-top: 10px;
}

.desc-promo {
	font-size:10px;
}

.div-itens {
	height: auto;
}


.text-area {
	resize: none;
	border: none;
}

.dropdown-item {
	background-color: transparent !important;
}

.dropdown-text {
	resize:none;
	overflow: hidden;
}

.title-filtro {
	padding-top: 20px;
	font-family: arial;
	background-color: #efebe9;
}

.text-botoes {
	padding-left: 100px !important;
	font-family: arial !important;
}

.linha {
	background-color:black;
	width:2px;
	height:10px;
}

.img-card {
	width:50px;
	height:250px;
}

.conteudo {
	padding: 70px 10px;
}

.nav-link {
	color: black !important;
	font-family: cursive;
}

.preco-prod {
	color: #f57c00;
	font-size:30pt;
	margin-bottom: 0px;
	font-family: arial;
}

.parcela-prod {
	margin-top: 0px;
	font-size: 10pt;
	font-family: arial;
}

.preco-boleto {
	font-size: 20pt;
	padding-top: 20px;
	font-family: arial;
}

.parcela-boleto {
	font-size: 10pt;
	font-family: arial;
}

.vertical-menu a {
  color: white;
  display: block;
  padding: 12px;
  text-decoration: none;
}

.vertical-menu a:hover {
  background-color: #ccc;
}


.check {
	display: none;
}

.hidden {
	display:none;
	cursor: pointer;
	padding: 15px;
	position:absolute;
	z-index: 1;
}

.barra {
	height: 100%;
	width: 0px;
	position: absolute;
	transition: all .2s linear;
	left:-300px;
	background-color: white;
}

.filtro-Responsive {
	width: auto;
	position: absolute;
	top: 60px;
}

.filtro-Responsive > a {
	text-decoration: none;
}

.link {
	padding: 5px;
	font-family: arial;
	font-size: 12pt;
	transition: all .2s linear;
	color: white;
}

.link:hover {
	background-color: #050542;
}

.check:checked ~ .barra {
	transform: translateX(300px);
}



@media only screen and (max-width: 991px) {
	.img-produto {
		margin-left: 0px;
		width: 300px;
		height: 300px;
	}
}


@media (min-width: 768px){
	.hardware-drop .dropdown-menu {
		min-width:500px !important;
	}
}

@media only screen and (max-width: 991px){
	.navbar-default {
		margin-top: 50px;
	}

	.icone {
		background-color: transparent;
		color:white;
	}

	.hidden {
		display: unset !important;
		background-color: transparent;
	}

	.filtro {
		display: none;
	}
}

.input-append .btn.dropdown-toggle {
    float: none !important;
}